.t2760 { padding: 130px 0px 130px 0px; background: rgba(238,244,250,1.00); padding-top: 60px; padding-bottom: 100px; }
.t2762 { display: flex; row-gap: 20px; column-gap: 20px; flex-direction: row; }
.t2763 { width: 100%; max-width: 930px; }
.t2811 { padding-left: 20px; padding-bottom: 10px; }
.t2810 { color: var(--Brand-Secondary); }
.t2786 { background: rgb(255,255,255); box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08); padding-top: 20px; padding-left: 20px; border-radius: 5px; padding-right: 20px; padding-bottom: 10px; }
.t2766 { height: 300px; background-size: cover; background-image: url(https://global.divhunt.com/6dda429ebaf3b593e0d6424e51b97164_99786.jpeg); background-repeat: no-repeat; }
.t2767 { height: 50px; display: flex; background: var(--Full-White); column-gap: 20px; margin-top: 10px; align-items: center; padding-left: 20px; }
.t2768 { border-bottom: 1px solid var(--Primary-Light); padding-bottom: 3px; }
.t2769 { border-bottom: 1px solid var(--Primary-Light); padding-bottom: 3px; }
.t2770 { border-bottom: 1px solid var(--Primary-Light); padding-bottom: 3px; }
.t2785 { background: rgb(255,255,255); box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08); margin-top: 20px; padding-top: 20px; padding-left: 20px; border-radius: 5px; padding-right: 20px; padding-bottom: 20px; }
.t2774 { font-size: 35px; padding-bottom: 10px; }
.t2764 { width: 380px; display: flex; row-gap: 20px; padding-left: 15px; padding-right: 15px; flex-direction: column; }
.t2775 { background: var(--White-bg); box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08); padding-top: 20px; padding-left: 15px; border-radius: 5px; padding-right: 15px; padding-bottom: 15px; }
.t2778 { color: rgba(40,41,56,1.00); border: 1px solid rgba(0,0,0,0.10); padding-top: 10px; border-radius: 5px; padding-bottom: 10px; }
.t2777 { color: var(--Full-White); border: 1px solid var(--Brand-Secondary); font-size: 18px; background: var(--Brand-Secondary); margin-top: 20px; padding-top: 5px; padding-left: 20px; border-radius: 5px; padding-right: 20px; padding-bottom: 5px; }
.t2779 { background: rgb(255,255,255); box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08); padding-top: 15px; padding-left: 15px; border-radius: 5px; padding-right: 15px; padding-bottom: 15px; }
.t2808 { color: #ff431e; margin-bottom: 10px; }
.t2809 { font-size: 18px; border-bottom: 2px solid #ff431e; }
.t2781 { display: flex; row-gap: 10px; flex-direction: column; }
.t2780 { color: var(--Dark-Text-70); }
.t2783 { color: var(--Dark-Text-70); }
.t2782 { color: var(--Dark-Text-70); }
.t2784 { color: var(--Dark-Text-70); }
.t2787 { background: rgb(255,255,255); box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08); padding-top: 15px; padding-left: 15px; border-radius: 5px; padding-right: 15px; padding-bottom: 15px; }
.t2788 { color: var(--Brand-Secondary); font-size: 18px; margin-bottom: 15px; }
.t2789 { border-bottom: 2px solid var(--Brand-Secondary); }
.t2790 { display: flex; column-gap: 10px; margin-bottom: 10px; }
.t2791 { width: 70px; height: 60px; object-fit: cover; }
.t2792 { display: flex; row-gap: 10px; font-size: 11px; flex-direction: column; }
.t2793 { font-size: 11px; }
.t2794 { color: var(--Dark-Text-70); font-size: 13px; }
.t2795 { color: var(--Dark-Text-70); font-size: 9px; }
.t2796 { display: flex; column-gap: 10px; margin-bottom: 10px; }
.t2797 { width: 70px; height: 60px; object-fit: cover; }
.t2798 { display: flex; row-gap: 10px; font-size: 11px; flex-direction: column; }
.t2799 { font-size: 11px; }
.t2806 { color: rgba(40,41,56,0.70); font-size: 13px; }
.t2800 { color: rgba(40,41,56,0.70); font-size: 9px; }
.t2801 { display: flex; column-gap: 10px; margin-bottom: 10px; }
.t2805 { width: 70px; height: 60px; object-fit: cover; }
.t2802 { display: flex; row-gap: 10px; font-size: 11px; flex-direction: column; }
.t2803 { font-size: 11px; }
.t2807 { color: rgba(40,41,56,0.70); font-size: 13px; }
.t2804 { color: rgba(40,41,56,0.70); font-size: 9px; }
