body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the tabs and active tab */
.tab-container {
    display: flex;
    justify-content: space-around;
    border-bottom: 0px solid #ff431e;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-size: 18px;
    background: none;
    border: none;
    outline: none;
    color: rgba(40, 41, 56, 1.00);
    border-bottom: 3px solid transparent;
    /* invisible border for inactive tabs */
    transition: color 0.3s, border-bottom 0.3s;
}

.tab:hover,
.tab.active {
    color: #ff431e;
    border-bottom: 3px solid #ff431e;
}

/* Style for the tab content */
.tab-content {
    display: none;
    padding: 12px;
    background: #fff;
}

.tab-content.active {
    display: block;
}

/* Style for the search input and button */
.search-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    gap: 15px;
    align-items: center;
}

.search-container input[type="text"] {
    flex: 1;
    margin-right: -1px;
    /* Align with button */
    font-size: 18px;
    outline: none;
    color: rgba(40, 41, 56, 1.00);
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    padding: 17px 30px 17px 30px;
}

.search-container button {
    padding: 15px;
    background-color: #ff431e;
    color: white;
    border: 1px solid #ff431e;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

.search-container button:hover {
    background-color: #e7352c;
}
.div-tabs {
        padding: 30px 30px 30px 30px;
    }
/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .tab-container {
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        background: rgba(255, 255, 255, 1.00);
        justify-content: space-around;
    }

    .tab {
        font-size: 16px;
        padding: 12px 0;
    }

    .search-container {
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 1.00);
        justify-content: space-around;
        align-items: center;
    }

    .search-container input[type="text"],
    .search-container button {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-container button {
        padding: 20px;
    }
}